---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
	metadata:
  	labels:
   	k8s-app: postgres
	spec:
  	containers:
  	- name: postgres
    	image: dr.xenonstack.com:5050/postgres:v10.13
    	imagePullPolicy: "IfNotPresent"
    	ports:
    	- containerPort: 5432
    	env:
      - name: PASS
        valueFrom:
          secretKeyRef:
            name: my-secret
            key: superpostgres //создать секрет testpassword
      - name: POSTGRES_USER
      	value: postgres
      - name: POSTGRES_PASSWORD
      	value: superpostgres
      - name: PGDATA
      	value: /var/lib/postgresql/data/pgdata
    	  volumeMounts:
       	  - name: postgredb
	    mountPath: /var/lib/postgresql/data
  	volumes:
    	- name: postgredb
        persistentVolumeClaim:
          claimName: postgres
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: posgres
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: csi-hdd-dp1???
