---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
	metadata:
  	labels:
   	my-bd-k8s: postgres
	spec:
  	containers:
  	- name: postgres
    	image: postgres:v10.13
    	imagePullPolicy: "IfNotPresent"
    	ports:
    	- containerPort: 5432
    	env:
      - name: POSTGRES_PASSWORD
        valueFrom:
          secretKeyRef:
            name: my-secret
            key: key1
      - name: POSTGRES_USER
      	value: postgres
      - name: POSTGRES_PASSWORD
      	value: key1
      - name: PGDATA
      	value: /var/lib/postgresql/data/pgdata
    	  volumeMounts:
       	  - name: postgredb
	    mountPath: /var/lib/postgresql/data
  	volumes:
    	- name: postgredb
          persistentVolumeClaim:
            claimName: postgres
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: posgres
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: ceph-hdd-ms1
  

